h1 {
  text-align: center;
}

main {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 44.3rem;
  margin: auto;
  margin-bottom: 3rem;
  padding: 2rem 0;
  border-radius: 3px;
}

footer {
  text-align: center;
  color: rgb(124, 127, 133);
  font-size: 0.9rem;
}

@media (max-width: 1333px) {
  main {
    height: 50rem;
  }
}

@media (max-width: 930px) {
  main {
    height: 73.2rem;
  }
}

@media (max-width: 890px) {
  main {
    height: 71.5rem;
  }
}
